@charset "UTF-8"; /* Set charset UTF-8 */

/* 
    css/styles.css
    Author: Jordan Hay

    Description

        General styles for the entire website.

*/

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); 

/* Every Element (Ones below will overide if need be) */
* { 
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* General Styles */

body, html {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin-bottom: 700px;
}

h1 {
    color: #2f8233;
}

h2, h3, h4, h5, h6 {
    color: #83a65c;
}

hr {
    width: 100%;
}

/* /General styles */

/* Responsive */

/* Mobile */
[class*="col-"] {
    width: 100%;
    float: left;
}

.row-s {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0;
    margin: 0;
}

.row {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.mobile-only {
    display: inline-block;
}

.desktop-only {
    display: none;
}

/* Columns even on mobile */

.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
  
/* Desktop */
@media only screen and (min-width: 768px) {
    [class*="col-"] {min-height: 1px;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .row {
        display: flex;
        flex-flow: row;
    }
    .mobile-only {display: none;}
    .desktop-only {display: inline-block;}
}

/* /Responsive */

/* Header */

header {
    height: 300px;
}

/* /Header */

/* Nav */

.nav-wrapper {
    height: 50px;
    border-bottom: #2f8233 3px solid;
}

nav {
    width: 100%;
    height: 100%;
}

nav a {
    color: black;
    text-decoration: none;
    text-align: center;
    position: relative;
    padding: 15px 20px;
    display: inline;
    top: 13px;
    opacity: 0.8;
    transition: 0.3s ease all;
}

nav a.right-align {
    float: right;
    position: relative;
    top: -2px;
}

nav a:hover, nav a.active {
    opacity: 1;
}

nav a:hover {
    background-color: RGBA(0, 0, 0, 0.1);
}

nav a.active {
    background-color: #2f8233;
    color: white;
}

/* /Nav */

/* Forms */

fieldset, .form-wrapper {
    padding: 10px;    
}

fieldset {
    border: 1px solid lightgray;
    border-radius: 4px;
}

fieldset:not(:first-child) {
    margin-top: 20px;
}

label:not(:first-child) {
    margin-top: 10px;
}

input, textarea[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 0;
    resize: none;
    font-size: 11.5pt;
    background-color: RGBA(0, 0, 0, 0);
}

input[type=submit] {
    color: white;
    padding: 14px 20px;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #2f8233;
    position: relative;
    left: 2px;
}

input[type=submit]:hover {
    opacity: 0.9;
}

/* /Form */

/* Footer */

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
}

/* /Footer */